<a href="https://colab.research.google.com/github/siddhantsawhney327/6thSem-ML-Lab/blob/main/1BM23CS327_Lab_1_DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Diabetes Dataset
diabetes_df = pd.read_csv("diabetes.csv")

# Adult Income Dataset
adult_df = pd.read_csv("adult.csv")

print(diabetes_df.head())
print(adult_df.head())

    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [3]:
# Columns where 0 is invalid
cols_with_zero = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

# Replace 0 with NaN
diabetes_df[cols_with_zero] = diabetes_df[cols_with_zero].replace(0, np.nan)

# Fill missing values with column mean
diabetes_df.fillna(diabetes_df.mean(), inplace=True)

print(diabetes_df.isnull().sum())

KeyError: "['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin'] not in index"

In [4]:
print(diabetes_df.columns)

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [5]:
import numpy as np

# Columns where 0 indicates missing values
cols_with_zero = [
    'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
    'HDL', 'LDL', 'VLDL', 'BMI'
]

# Replace 0 with NaN
diabetes_df[cols_with_zero] = diabetes_df[cols_with_zero].replace(0, np.nan)

# Fill missing values with mean
diabetes_df[cols_with_zero] = diabetes_df[cols_with_zero].fillna(
    diabetes_df[cols_with_zero].mean()
)

# Verify
print(diabetes_df.isnull().sum())

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

diabetes_df['Gender'] = le.fit_transform(diabetes_df['Gender'])
diabetes_df['CLASS'] = le.fit_transform(diabetes_df['CLASS'])

print(diabetes_df.head())

    ID  No_Pation  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975       0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221       1   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975       0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656       0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223       1   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI  CLASS
0  24.0      0
1  23.0      0
2  24.0      0
3  24.0      0
4  21.0      0

In [8]:
numeric_cols = diabetes_df.select_dtypes(include=np.number).columns

for col in numeric_cols:
    Q1 = diabetes_df[col].quantile(0.25)
    Q3 = diabetes_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    diabetes_df[col] = np.where(
        diabetes_df[col] > upper, upper,
        np.where(diabetes_df[col] < lower, lower, diabetes_df[col])
    )

In [9]:
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()
diabetes_minmax = pd.DataFrame(
    minmax.fit_transform(diabetes_df),
    columns=diabetes_df.columns
)

In [10]:
from sklearn.preprocessing import StandardScaler

standard = StandardScaler()
diabetes_standard = pd.DataFrame(
    standard.fit_transform(diabetes_df),
    columns=diabetes_df.columns
)

In [12]:
diabetes_df.describe()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.0
mean,340.500000,35934.455000,0.567000,53.986000,4.826843,62.345000,8.280960,4.846688,2.280610,1.142250,2.591640,1.14040,29.566770,3.0
std,240.397673,19549.661069,0.497754,7.363968,1.714231,20.297906,2.532224,1.205666,1.150887,0.348675,1.039511,0.62744,4.926358,0.0
min,1.000000,123.000000,0.000000,39.000000,0.700000,10.500000,0.950000,1.600000,0.300000,0.300000,0.300000,0.10000,19.000000,3.0
25%,125.750000,24063.750000,0.000000,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.70000,26.000000,3.0
50%,300.500000,34395.500000,1.000000,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.90000,30.000000,3.0
75%,550.250000,45384.250000,1.000000,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.50000,33.000000,3.0
max,800.000000,77365.000000,2.000000,71.000000,8.700000,110.500000,15.750000,8.000000,5.000000,1.900000,5.550000,2.70000,43.500000,3.0

In [13]:
diabetes_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502.0,17975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,3.0
1,735.0,34221.0,1.0,39.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,3.0
2,420.0,47975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,3.0
3,680.0,77365.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,3.0
4,504.0,34223.0,1.0,39.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,3.0

In [14]:
adult_df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000